<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecipeCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73DCEB361CF8BDC1002BA81C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73DCEB4A1CF8BDC1002BA81C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73DCEB551CF8BDC2002BA81C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
